<div class="hover:bg-light-100 dark:hover:bg-dark-100 relative cursor-pointer select-none py-2 pl-8 pr-4 text-light-900 dark:text-dark-900">
    <a {% if choice %}href="{{ spec.request.path }}{{ choice.query_string|iriencode }}"{% else %}x-bind:href="choiceHref(choice)"{% endif %}>
        <span class="block" {% if not choice %}x-text="choice.text"{% endif %}>{% if choice %}{{ choice.display }}{% endif %}</span>
        {% if not choice %}<template x-if="choiceSelected(choice)">{% endif %}
            {% if not choice or choice.selected %}
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 text-primary-600 dark:text-secondary-500">
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                       aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                          clip-rule="evenodd"/>
                  </svg>
                </span>
            {% endif %}
        {% if not choice %}</template>{% endif %}
    </a>
</div>
