{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <nav class="border-b border-light-200 dark:border-dark-200 flex" aria-label="Breadcrumb">
            <ol class="w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
                <li class="flex">
                    <div class="flex items-center">
                        <a href="{% url 'admin:index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="svg-snoweb svg-flex-shrink-0 h-5 w-5 fill-current text-light-900 dark:text-dark-900"
                                 x="0"
                                 y="0"
                                 width="100%"
                                 height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                                <path d="M53.3,13.9a4.7,4.7,0,0,0-6.6,0L13.9,46.7a4.7,4.7,0,0,0,0,6.6,4.8,4.8,0,0,0,6.7,0l1.3-1.4V82.7a4.7,4.7,0,0,0,4.7,4.7H36a4.7,4.7,0,0,0,4.6-4.7V73.4a4.7,4.7,0,0,1,4.7-4.7h9.4a4.7,4.7,0,0,1,4.7,4.7v9.3A4.7,4.7,0,0,0,64,87.4h9.4a4.7,4.7,0,0,0,4.7-4.7V51.9l1.3,1.4a4.8,4.8,0,0,0,6.7,0,4.7,4.7,0,0,0,0-6.6Z"
                                      class="svg-fill-primary"></path>
                            </svg>
                            <span class="sr-only">{% translate 'Home' %}</span>
                        </a>
                    </div>
                </li>
                {% for app in app_list %}
                    <li class="flex">
                        <div class="flex items-center">
                            <svg class="flex-shrink-0 w-6 h-full text-light-200 dark:text-dark-200"
                                 viewBox="0 0 24 44"
                                 preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                 aria-hidden="true">
                                <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"/>
                            </svg>
                            <span class="ml-4 text-sm font-medium text-light-300 dark:text-dark-300"
                                  aria-current="page">{{ app.name }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
