{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <nav class="border-b border-light-200 dark:border-dark-200 flex"
             aria-label="Breadcrumb">
            <ol class="w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
                <li class="flex">
                    <div class="flex items-center">
                        <a href="{% url 'admin:index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="svg-snoweb svg-flex-shrink-0 h-5 w-5 fill-current text-light-900 dark:text-dark-900"
                                 x="0"
                                 y="0"
                                 width="100%"
                                 height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                                <path d="M53.3,13.9a4.7,4.7,0,0,0-6.6,0L13.9,46.7a4.7,4.7,0,0,0,0,6.6,4.8,4.8,0,0,0,6.7,0l1.3-1.4V82.7a4.7,4.7,0,0,0,4.7,4.7H36a4.7,4.7,0,0,0,4.6-4.7V73.4a4.7,4.7,0,0,1,4.7-4.7h9.4a4.7,4.7,0,0,1,4.7,4.7v9.3A4.7,4.7,0,0,0,64,87.4h9.4a4.7,4.7,0,0,0,4.7-4.7V51.9l1.3,1.4a4.8,4.8,0,0,0,6.7,0,4.7,4.7,0,0,0,0-6.6Z"
                                      class="svg-fill-primary"></path>
                            </svg>
                            <span class="sr-only">{% translate 'Home' %}</span>
                        </a>
                    </div>
                </li>
                <li class="flex">
                    <div class="flex items-center">
                        <svg class="flex-shrink-0 w-6 h-full fill-current text-light-200 dark:text-dark-200" viewBox="0 0 24 44"
                             preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true">
                            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"/>
                        </svg>
                        <a href="{% url 'admin:app_list' app_label=opts.app_label %}"
                           class="ml-4 text-sm font-medium text-light-500 hover:text-light-700 dark:text-dark-500 dark:hover:text-dark-700">
                            {{ opts.app_config.verbose_name }}</a>
                    </div>
                </li>
                <li class="flex">
                    <div class="flex items-center">
                        <svg class="flex-shrink-0 w-6 h-full fill-current text-light-200 dark:text-dark-200" viewBox="0 0 24 44"
                             preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true">
                            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"/>
                        </svg>
                        <a href="{% url opts|admin_urlname:'changelist' %}"
                           class="ml-4 text-sm font-medium text-light-500 hover:text-light-700 dark:text-dark-500 dark:hover:text-dark-700">
                            {{ opts.verbose_name_plural|capfirst }}</a>
                    </div>
                </li>
                <li class="flex">
                    <div class="flex items-center">
                        <svg class="flex-shrink-0 w-6 h-full text-light-200 dark:text-dark-200" viewBox="0 0 24 44"
                             preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true">
                            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"/>
                        </svg>
                        <span class="ml-4 text-sm font-medium text-light-300 dark:text-dark-300"
                              aria-current="page">{% if add %}{% blocktranslate with name=opts.verbose_name %}Add
                            {{ name }}{% endblocktranslate %}{% else %}
                            {{ original|truncatewords:"18" }}{% endif %}</span>
                    </div>
                </li>
            </ol>
        </nav>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main" class="px-2 sm:px-6 lg:px-8">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools change-form">
                    {% block object-tools-items %}
                        {% change_form_object_tools %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}
                            {% translate "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script id="django-admin-form-add-constants"
                            src="{% static 'admin/js/change_form.js' %}"
                            {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                            {% endif %}
                            async>
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>
    </div>
{% endblock %}
