{% load i18n %}
<span class="block my-4 text-xs font-semibold text-light-900 dark:text-dark-900">{% blocktranslate with filter_title=title %}
    By {{ filter_title }} {% endblocktranslate %}</span>
<ul>
    {% for choice in choices %}
        {% if choice.display %}
            <li>
                <a href="{{ choice.query_string|iriencode }}"
                   title="{{ choice.display }}"
                   class="{% if choice.selected %}text-secondary-500{% else %}text-light-500 dark:text-dark-500 hover:text-light-900 dark:hover:text-dark-900{% endif %} hover:bg-light-50 dark:hover:bg-dark-50 group flex items-center py-2 text-xs font-medium rounded-md">
                    <span class="{% if choice.selected %}bg-secondary-500{% else %}bg-primary-500{% endif %} w-2 h-2 mr-4 rounded-full" aria-hidden="true"></span>
                    <span class="truncate">{{ choice.display }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
