{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    {% comment %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endcomment %}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block contentclass %}max-w-4xl{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
    <div id="content-main" class="flex-grow spacing-x-regular -my-2 -mx-2">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True with_section=True %}
    </div>
{% endblock %}

{% block sidebar %}

    <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul class="divide-y divide-light-200">

            <li>
                <div class="px-4 py-4 sm:px-6">
                    <h2>{% translate 'Recent actions' %}</h2>
                    <h3 class="mt-2">{% translate 'My actions' %}</h3>
                </div>
            </li>

            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <li>
                    <div class="px-4 py-4 sm:px-6">
                        {% translate 'None available' %}
                    </div>
                </li>
            {% else %}
                {% for entry in admin_log %}
                    <li>
                        {% if not entry.is_deletion or entry.get_admin_url %}
                            <a href="{{ entry.get_admin_url }}" class="block hover:bg-light-50">{% endif %}
                        <div class="flex items-center px-4 py-4 sm:px-6">
                            <div class="min-w-0 flex-1 flex items-center">
                                <div class="hidden md:block">
                                    <div class="pr-2">

                                        <p class="text-sm text-light-900">{{ entry.object_repr }}</p>


                                        <p class="mt-2 flex items-center text-sm text-light-500">
                                            {% if entry.is_addition %}
                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            {% endif %}
                                            {% if entry.is_change %}
                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            {% endif %}
                                            {% if entry.is_deletion %}
                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            {% endif %}

                                            {% if entry.content_type %}
                                                {% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}
                                            {% else %}
                                                {% translate 'Unknown content' %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <svg class="h-5 w-5 text-light-400" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20"
                                     fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                        {% if not entry.is_deletion or entry.get_admin_url %}</a>{% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
