{% load i18n admin_urls %}
<div class="submit-row flex my-12 justify-end bg-light-50 dark:bg-dark-50 p-4 rounded">
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% translate 'Save' %}" class="default saveinput order-last text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-500" name="_save">{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink order-1 mr-2 text-white bg-red-600 hover:bg-red-700 focus:ring-red-500">{% translate "Delete" %}</a></p>
{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" class="saveasnewinput order-2 mr-2 text-white bg-primary-400 hover:bg-primary-500 focus:ring-primary-300" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" class="addanotherinput order-3 mr-2 text-white bg-primary-400 hover:bg-primary-500 focus:ring-primary-300" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" class="order-4 continueinput mr-2 text-white bg-primary-400 hover:bg-primary-500 focus:ring-primary-300" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="order-5 button mr-2 text-white bg-primary-400 hover:bg-primary-500 focus:ring-primary-300" class="closelink">{% translate 'Close' %}</a>{% endif %}
{% endblock %}
</div>
